body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#prodsDiv {
  display: flex;
  flex-direction: column;
}

.prodPrice {
  font-size: 1rem;
}
.prodImages {
  width: 100px;
  height: 150px;
}
.prodTitle {
  font-size: 16px;
  font-weight: bold;
}
.prodDescription {
  font-size: 14px;
}
